@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: inherit;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > * {
    margin-top: 20px;
  }
}

#keyboard {
  font-size: 18px;
}

#text {
  white-space: pre;

  font-size: 22px;
}
